:root{
	--mainColor:#000204;
	--secondaryColor:#313539;

	--borderColor:#505153;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(120, 122, 123, 0.8);
	--previewShadow:#1e242a;


	--buttonColor:#6a717f;


}